<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Configuración de conexión a la base de datos -->
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/huelladecarbonodb?useSSL=false&amp;serverTimezone=UTC</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>

    <!-- Dialecto de Hibernate para MySQL -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

    <!-- Configuración de Hibernate -->
    <property name="hibernate.show_sql">true</property> <!-- Muestra las consultas SQL en la consola -->
    <property name="hibernate.format_sql">true</property> <!-- Formatea las consultas SQL -->
    <property name="hibernate.hbm2ddl.auto">update</property> <!-- Crea o actualiza tablas automáticamente -->

    <!-- Mapeo de entidades -->
    <mapping class="org.chatta.Entities.Actividad"/>
    <mapping class="org.chatta.Entities.Categoria"/>
    <mapping class="org.chatta.Entities.Habito"/>
    <mapping class="org.chatta.Entities.HabitoId"/>
    <mapping class="org.chatta.Entities.Huella"/>
    <mapping class="org.chatta.Entities.Recomendacion"/>
    <mapping class="org.chatta.Entities.Usuario"/>

  </session-factory>
</hibernate-configuration>
